# Ignore all database files
*.db
# ignore folder
MultiTox/models/
MultiTox/models_sigma/
MultiTox/logs/
MultiTox/logs_sigma/
Tox21/experiments/
Tox21_Neural_Net/logs/
Tox21_Neural_Net/models/
*.sl
*.out
Tox21/Documents/
